{% extends 'base.html' %}
<title>关注</title>
{% block ext_css %}
<style>
    body {
        padding-top: 100px;
        padding-bottom: 100px;
    }
</style>
{% endblock %}

{% block main %}
<h1>关注的微博</h1>

{% for wb in wb_list %}
<div class="row">
    <div class="col-sm-10">
        <a href="/user/info?uid={{ wb.uid }}">
            <strong>{{ users[wb.uid] }}</strong>
        </a>：
    </div>
</div>
<div class="alert alert-info" role="alert">
    {{ wb.content }}
</div>

<div class=".col-md-3 .col-md-offset-3 text-right">

    <a class="btn glyphicon glyphicon-thumbs-up" href="/weibo/zan?wid={{ wb.id }}">
        {% if wb.id in zan_list %}已赞{% else %}赞{% endif %}
    </a>
    <span>{{ wb.n_zan }}</span>

    <a class="btn glyphicon glyphicon-search" href="/weibo/show?wid={{ wb.id }}">查看</a>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>

{% endfor %}


<nav aria-label="Page navigation">
    <ul class="pagination">
        {% for p in range(n_page) %}
        {% if loop.index == page %}
        <li class="active"><a href="#">{{ loop.index }}</a></li>
        {% else %}
        <li><a href="/weibo?page={{ loop.index }}">{{ loop.index }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>

{% endblock %}