{% extends 'base.html' %}
{% block title %}发微博{% endblock %}
{% block main %}
    <h1>发微博</h1>
    <hr>
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            提示:{{ error }}
        </div>
    {% endif %}
    <form class="form-horizontal" action="{{ url_for(weibo_bp.post) }}" method="POST">
        <div class="form-group">
            <label class="col-sm-2 control-label">发微博：</label>
            <div class="col-sm-7">
                <textarea class="form-control" name="content" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-10">
                <button type="submit" class="btn btn-primary">发表</button>
            </div>
        </div>
    </form>
{% endblock %}